body {
    width: 600px;
    margin: 100px auto;
    background-color: #bababa;
    font-family: Verdana, Arial, sans-serif;
}

div.article:hover {
    cursor: pointer;
    background-color: #8c8c8c;
}

p.body {
    padding: 5px;
}

div.comments {
    padding-top: 20px;
}

div.comment {
    border: 1px solid dimgray;
    padding: 5px;
    position: relative;
}

p.author {
    position: absolute;
    top: 10px;
    right: 10px;
}
